.depth-display {
    input[type="range"] {
        transform: rotate(-90deg) translateX(-50%) translateY(-310%);
        position: absolute;
        pointer-events: none;
        background: transparent;
        appearance: none;

        &::-webkit-slider-thumb {
            pointer-events: all;
        }
    }

    position: absolute;
    display: block;
    width: 100px;
    height: 200px;
    background: white;
    z-index: 20;
    top: 20px;
    right: 20px;

    .slider-bg {
        position: absolute;
        width: 10px;
        height: 135px;
        background: red;
        z-index: -1;
        margin: 7px 12px;
        border-radius: 10px;
    }
}