#main-view {
    width: 100vw;
    height: 100vh;
    font-family: sans-serif;

    .three-d-view-wrapper,
    #three-d-view {
        width: 100vw;
        height: calc(100vh - 200px);
        position: relative;
    }

    .value-selector-wrapper {
        border-radius: 10px;
    }

    .depth-display {
        width: 120px;
        border-radius: 10px;
    }

    .time-line-wrapper {
        padding: 40px;

        .time-line {
            display: block;
            position: relative;
            width: calc(100vw - 80px);
            height: 30px;
            background: AliceBlue;

            .time-line-slider {
                position: absolute;
                display: block;
                height: 30px;
                width: 20px;
                background: DarkBlue;
            }
        }

        .year-indicators {
            display: flex;
            justify-content: space-between;
            margin-top: 10px;
        }
    }

    .close-button {
        appearance: none;
        border: none;
        background: transparent;
        font-weight: bolder;
        font-size: 20px;
        color: #707070;
        position: absolute;
        top: 13px;
        right: 16px;

        &:hover {
            color: black;
        }
    }
}
